@use '../../../../styles.scss' as vars;

.admin-products {
    color: vars.$color-text;
}

.admin-products-content {
    width: 80%;
    padding: 40px;
    font-size: 1.6rem;

    .controls {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        input {
            width: 50%;
        }
    }

    .table {
        border-collapse: collapse;
        width: 100%;
        margin: 3rem 0;

        th,
        td {
            padding: 1rem;
            text-align: left;
            vertical-align: middle;
            border-bottom: 1px solid vars.$light-gray;
        }

        th {
            font-weight: bold;
            font-size: 1.6rem;
            background-color: #f3f3f3;
        }


        tbody {
            font-size: 1.4rem;
            font-weight: 500;
        }

        tbody tr:hover {
            background-color: #f3f3f3;
        }

        th:last-child {
            text-align: right;
        }

        td:last-child {
            text-align: right;
        }

        a {
            color: vars.$color-accent;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}