<div class="product-form container">
  <form class="form left" #f="ngForm" (ngSubmit)="save(f.value)">
    <h2 class="left-heading">Add New Product</h2>
    <div class="form-group">
      <label class="label" for="title">Title</label>
      <input
        #title="ngModel"
        [(ngModel)]="product.title"
        name="title"
        id="title"
        type="text"
        class="input"
        required
        maxlength="45"
        minlength="3"
      />
      <div *ngIf="title.touched && title.invalid" class="input-error">
        <div *ngIf="title.errors?.['required']">Title is required.</div>
        <div *ngIf="title.errors?.['minlength']">
          Title must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="label" for="price">Price</label>
      <div class="form-input-addon">
        <div class="input-addon">$</div>
        <input
          #price="ngModel"
          [(ngModel)]="product.price"
          name="price"
          id="price"
          type="number"
          required
          min="0"
        />
      </div>
      <div *ngIf="price.touched && price.invalid" class="input-error">
        <div *ngIf="price.errors?.['required']">Name is required.</div>
        <div *ngIf="price.errors?.['min']">Price should be at least 0.</div>
      </div>
    </div>
    <div class="form-group">
      <label class="label" for="category">Category</label>
      <select
        #category="ngModel"
        [(ngModel)]="product.category"
        name="category"
        id="category"
        type="text"
        class="input"
        required
      >
        <option value=""></option>
        <option
          *ngFor="let category of categories$ | async"
          value="{{ category.key }}"
        >
          {{ category.name }}
        </option>
      </select>
      <div *ngIf="category.touched && category.invalid" class="input-error">
        Category is required.
      </div>
    </div>
    <div class="form-group">
      <label class="label" for="imageUrl">Image URL</label>
      <input
        #imageUrl="ngModel"
        [(ngModel)]="product.imageUrl"
        name="imageUrl"
        id="imageUrl"
        type="text"
        class="input"
        required
      />
      <div *ngIf="imageUrl.touched && imageUrl.invalid" class="input-error">
        Image URL is required.
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-danger" (click)="delete()">
        Delete
      </button>
    </div>
  </form>
  <div class="right">
    <h2 class="right-heading" *ngIf="product.title">Product Preview</h2>
    <div class="product-preview">
      <product-card [product]="product" [show-actions]="false"></product-card>
    </div>
  </div>
</div>
